---
import '../styles/variables.scss';
import siteData from '../data/metadata.json';

const allPosts = Object.values(import.meta.glob('../pages/articles/*.md', { eager: true }));

---
<style>
  ion-menu {
    --ion-background-color: #333; /* Dark gray */
  }
  ion-toolbar {
    --background: #4077cfff; /* Your desired background color */
  }
</style>

<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="custom-menu-ion-title">Vedic Astrology Info</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <!-- Menu content goes here -->

    <ion-list lines="none" class="custom-list-background">
      <ion-item class="custom-item-background">
        <ion-label><a href={siteData.menu.menu11}>Your Birth Horoscope</a></ion-label>
      </ion-item>
      <ion-item class="custom-item-background">
        <ion-label><a href={siteData.menu.menu12}  target="_blank">Your Birth Chart Predictions</a></ion-label>
      </ion-item>
      <ion-item class="custom-item-background">
        <ion-label><a href={siteData.menu.menu9}>Matrimonial Compatibility</a></ion-label>
      </ion-item>
      <ion-item class="custom-item-background">
        <ion-label><a href={siteData.menu.menu10}>Vedic Astrology Books</a></ion-label>
      </ion-item>
      <ion-item class="custom-item-background">
        <ion-label><a href={siteData.menu.menu8}>Astrological Services</a></ion-label>
      </ion-item>
      <ion-item class="custom-item-background">
        <ion-label><a href={siteData.menu.menu14}>Testimonials</a></ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-list lines="none" class="custom-list-background">
      <ion-item class="custom-item-background custom-footer-label custom-center-item">
        <ion-label class="custom-center-label"><a href={siteData.menu.menu5}>Terms & Privacy</a>.</ion-label></ion-item>
      <ion-item class="custom-item-background custom-footer-label custom-center-item">  
        <ion-label class="custom-center-label"><a href={siteData.menu.menu6}>Refund and </a><a href={siteData.menu.menu13}>Shipping Policy</a>.</ion-label>
      </ion-item>
      <ion-item class="custom-item-background custom-footer-label custom-center-item">
        <ion-label class="custom-center-label"><a href={"/" + siteData.menu.menu3}>{siteData.copyright}</a>.</ion-label>
      </ion-item>
    </ion-list>
    <br />
  </ion-footer>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
