---
import background from '../assets/background.svg';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Menu from '../components/Menu.astro';
import Announcements from '../components/Announcements.astro';
import Footer from '../components/Footer.astro';
import WelcomeDialog from '../components/WelcomeDialog.astro';

import AstroSeoInfo from '../components/AstroSeoInfo.astro';
import AuthorSchema from '../components/AuthorSchema.astro';
import ArticleJsonLd from '../components/ArticleJsonLd.astro';
import siteDefaults from '../data/siteData.json';
import type { string } from 'astro:schema';
import ModalDialog from '../components/ModalDialog.astro';

// Get the page's URL from Astro.url
const url = Astro.url;

const seoPageOverrides = Astro.props;
const seo = { ...siteDefaults.default, ...seoPageOverrides }; // Merge defaults with overrides

const canonicalURL = new URL(Astro.url.pathname, Astro.url);
const siteURL = new URL("/", Astro.url);

const showAnnounce = false;

---

<!doctype html>
<html lang="en">
	<head>
		<title>{seo.title}</title>
		<meta name="description" content={seo.description}>
		<Header />
		<slot name="structured-data" />
		<AstroSeoInfo slot="head" {...seo} />
		<AuthorSchema slot="head" {...Astro.props} />
		<Fragment slot="head">
			<ArticleJsonLd frontmatter={seo} url={canonicalURL} />
		</Fragment>

	</head>
	<body>

				<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNVGR54"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<ion-app>
			<Navigation />
				<div id="container">
					<img id="background" src={background.src} alt="Vedic Astrology" fetchpriority="high" />
					<main>
						<Menu />
						<ion-content class="ion-padding">
							<ModalDialog id="astrology-dialog" />
							<slot />		
							<Announcements />
						</ion-content>
					</main>
				</div>
			<Footer />
		</ion-app>

	</body>
</html>

<style>

	.prose a {
		color: #1a73e8;
		text-decoration: none;
		transition: color 0.3s ease, text-decoration 0.3s ease;
	}

	.prose a:hover,
	.prose a:focus {
		color: #4285f4;
		text-decoration: underline;
	}
</style>

