---
import background from '../assets/background.svg';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Menu from '../components/Menu.astro';
import Announcements from '../components/Announcements.astro';
import Footer from '../components/Footer.astro';

import AstroSeoInfo from '../components/AstroSeoInfo.astro';
import AuthorSchema from '../components/AuthorSchema.astro';
import ArticleJsonLd from '../components/ArticleJsonLd.astro';
import siteDefaults from '../data/siteData.json';
import { boolean, type string } from 'astro:schema';

// Get the page's frontmatter from Astro.props
const { frontmatter } = Astro.props;

const { seo: seoOverrides = {} } = Astro.props; // Get page-specific overrides
const seo = { ...siteDefaults.default, ...seoOverrides, ...frontmatter }; // Merge defaults with overrides

const canonicalURL = new URL(Astro.url.pathname, Astro.url);
const siteURL = new URL("/", Astro.url);
var index = false;
if (Astro.url.pathname === "/") {
	index = true;
}

---

<!doctype html>
<html lang="en">
	<head>
		<title>{seo.title}</title>
		<meta name="description" content={seo.description}>
		<Header />
		<slot name="structured-data" />
		<AstroSeoInfo slot="head" {...seo} />
		<AuthorSchema slot="head" {...Astro.props} />
		<Fragment slot="head">
			<ArticleJsonLd frontmatter={seo} url={canonicalURL} />
		</Fragment>
	</head>
	<body>
		<ion-app>
			<Navigation />
				<div id="container">
					<img id="background" src={background.src} alt="" fetchpriority="high" />
					<main>
					<Menu />
						<ion-content>
							<slot />
							{index && <Announcements />}
						</ion-content>
					</main>
				</div>
			<Footer />
		</ion-app>
	</body>
</html>

<style is:global>
	ion-content {
	--padding-top: 20px;
	--padding-bottom: 20px;
	--padding-start: 25%;
	--padding-end: 75px;
	}
	.prose a {
		color: #1a73e8;
		text-decoration: none;
		transition: color 0.3s ease, text-decoration 0.3s ease;
	}

	.prose a:hover,
	.prose a:focus {
		color: #4285f4;
		text-decoration: underline;
	}
</style>
